<div class="row" [formGroup]="addressForm">
  <div class="col-md-3">
    <mat-form-field>
      <mat-label>Address Line 1</mat-label>
      <input
        matInput
        placeholder="Address Line 1"
        formControlName="addressLine1"
        (blur)="onTouched()"
      />
      <mat-icon matPrefix>home</mat-icon>
      <mat-error>Please enter Address Line 1</mat-error>
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <mat-form-field>
      <mat-label>Address Line 2</mat-label>
      <input
        matInput
        placeholder="Address Line 2"
        formControlName="addressLine2"
        (blur)="onTouched()"
      />
    </mat-form-field>
  </div>
  <div class="col-md-2">
    <mat-form-field>
      <mat-label>City</mat-label>
      <input
        matInput
        placeholder="City"
        formControlName="city"
        (blur)="onTouched()"
      />
      <mat-error>Please enter City</mat-error>
    </mat-form-field>
  </div>
  <div class="col-md-2">
    <mat-form-field>
      <mat-label>State</mat-label>
      <mat-select formControlName="state" (blur)="onTouched()">
        <mat-option value="1">One</mat-option>
        <mat-option value="2">Two</mat-option>
        <mat-option value="3">Three</mat-option>
      </mat-select>
      <mat-error>Please enter State</mat-error>
    </mat-form-field>
  </div>
  <div class="col-md-2">
    <mat-form-field>
      <mat-label>Zip</mat-label>
      <input
        matInput
        placeholder="Zip"
        formControlName="zip"
        (blur)="onTouched()"
      />
      <mat-error>Please enter Zip</mat-error>
    </mat-form-field>
  </div>
</div>
