<div class="container">
  <form class="row g-4 mt-5" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName" />
        <mat-icon matPrefix>perm_identity</mat-icon>
        <mat-error>Please enter First name</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput placeholder="Last name" formControlName="lastName" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="userName" />
        <mat-icon matPrefix>alternate_email</mat-icon>
        <mat-error>Please enter Username</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <address fixCva formControlName="address"></address>
    </div>
    <div class="col-12">
      <mat-checkbox>Agree to terms and condition</mat-checkbox>
    </div>
    <div class="col-12">
      <button mat-stroked-button type="submit">Submit Form</button>
    </div>
  </form>
</div>
